.card{
    width: 80%;
    margin: 0 auto;
    color: black;
    & img{
        transition: 2s;
        &:hover{
            opacity: 0.7;
        }
    }
}
.navigation{
width: 20%;
margin: 0 auto;
    
}
@media screen and (max-width: 768px) {
    .part-content{
      padding-left: 3rem;
    }
    .card{
        width: 100%;
    }
}
@media screen and (max-width: 690px) {
   .part-content{
       width: 70%;
       margin: 0 auto;
   }
  }