.header-name{
    width: 100%;
    & img{
        width: 70%;
        margin-left:25%;
    }
}
@media screen and (max-width: 1024px) {
    .header-name img{
        width: 90%;
        margin-left:0;
    }
  }
  @media screen and (max-width: 425px) {
    .header-name img{
       display: none;
    }
   }