.social {
   margin-left: 5rem;
  
}
.social-m{
    padding-right:2rem;
}
.social a{
    font-size:2.5rem;
    color: white;
    & .i{
        
        padding: 10px;
        border-radius: 50%;
       
    }
    & .i:hover{
        background-color: gray;
        color: white;
    }
}
