.social-m{
    display: flex;
    flex-direction: row;
   & a{
        font-size:3rem;
        color: white;
        & .i{
            
            padding: 10px;
            border-radius: 50%;
           
        }
        & .i:hover{
            background-color: gray;
            color: white;
        }
    }
}
